.footer-container {
    display: flex;
    justify-content: space-around;
    height: 13vh;
    width: auto;
    background-color: rgb(85, 84, 84);
    margin-top: -40px;
    color: rgb(189, 203, 214);
    font-size: 0.6rem;
    text-align: start;
    padding: 20px;
}

.block {
    flex: 1 0 0;
}

.footer-block:nth-child(2) {
    margin-top: -20px;
}