* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar-header {
    display: flex;
    justify-content: space-around;
    height: 13vh;
    background-color: rgb(203, 204, 207);
    padding-top: 2rem;
}

.navbar-links li {
    display: inline;
    gap: 2rem;
    padding: 0 20px;
    font-weight: 500;
    font-size: 1.5rem;
}

.social-icons a {
    padding: 0 10px;
    color: rgb(65, 64, 64);
}

.logo-text {
    font-family: 'Handlee', cursive;
    font-size: 3rem;
    color: rgb(92, 91, 91);
    margin-top: -1.5rem;
}

.navbar-link {
    color: black;
}
